<html>
<head>
<title>
Item Site
</title>
</head>
<body>
<a href="/">Index</a> - {% if user.is_authenticated %} Welcome, {{user.username}}.<a href="/create">Add item</a> <a href="/logout">Logout</a> {% else %} <a href="/login">Login</a> - <a href="/register">Register</a>{% endif %}
{% block content %}
{% endblock %}
</body>
</html>
