<html>
<head>
<title>
Item Create
</title>
</head>
<body>
<h1>Item Create</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Create Item"/>
</form>
</body>
</html>