{% extends "base.html" %}
{% block content %}
<h1>Item Delete</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Delete Item"/>
</form>
{%endblock%}