{% extends "base.html" %}
{% block content %}
<h1>Item Update</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{object.name}}{{object.comment}}{{object.price}}
    <input type="submit" value="Update Item"/>
</form>
{%endblock%}