{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<h1>Item List</h1>
<table>
{% for object in object_list %}
       <tr>
	   
       <td><a href="detail/{{object.id}}">{{object.name}}</a></td>
       <td><a href="update/{{object.id}}">Update</a></td>
       <td><a href="delete/{{object.id}}">Delete</a></td>
   </tr>
{% endfor %}
</table>
{% else %}
<h2>Hello and welcome, login to see more stuff</h2>
{% endif %}
{%endblock%}

