{% extends "base.html" %}
{% block content %}
<h1>Register User</h1>
<form action="" method="POST">
   {% csrf_token %}
       {% for field in form %}
       <p>
               {{field.errors}}<br>
               {{field.label}}: {{field}}
       </p>
       {%endfor %}
   <input type="submit" value="Register"/>
</form>
{%endblock%} 